<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="general" xsi:type="File" fileName="${basedir}\logs\${shortdate}.log" layout="${longdate} ${uppercase:${level}} User:${windows-identity} Trace:${stacktrace} Message:${message}"/>
    <target name="consoleLog" xsi:type="Console" layout="${longdate} ${uppercase:${level}} Message:${message}"/>
    <target name="debugTrace" xsi:type="Trace" layout="${longdate} ${uppercase:${level}} ClientFileImportID: ${event-context:item=ClientFileImportID} User:${windows-identity} Status:${event-context:item=Status} Trace:${stacktrace} Row:${event-context:item=FileRow} Column:${event-context:item=FileColumn} Message:${message}"/>

  </targets>

  <rules>
    <!--<logger name="MinglePMImporter.ImportStatusLog" minlevel="Trace" xsi:type="NLogLoggerRule" writeTo="asyncImportStatusLog"/>-->
    <logger name="*" minlevel="Trace" xsi:type="NLogLoggerRule" writeTo="debugTrace,consoleLog,general"/>
  </rules>  
  <!--<targets>
    --><!-- add your targets here --><!--
    
    --><!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    --><!--
  </targets>

  <rules>
    --><!-- add your logging rules here --><!--
    
    --><!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    --><!--
  </rules>-->
</nlog>