<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="DatabaseEnvironmentName" value="QA (PQRSQA)" />

    <!-- Remote API paths to use -->
    <add key="RemoteProviderAuditRoute" value="/services/apexrest/ProviderAudit/" />

    <!-- DEV/Testing values -->
    <add key="SuccessEmailAddressToNotify" value="" />
    <add key="ApiErrorEmailAddressToNotify" value="" />
    <add key="ApplicationErrorEmailAddressToNotify" value="" />

    <!-- Conditions on when to send email alert -->
    <add key="SendAlertOnApiError" value="TRUE" />
    <add key="SendAlertOnApiSuccess" value="TRUE" />
    <add key="SendAlertOnApplicationError" value="TRUE" />

    <!-- Subsets of updates to process -->
    <add key="ProcessProviderAudits" value="TRUE"/>

    <add key="SuccessMatchRegEx" value="Success:" />
    <add key="ReprocessApplicationErrors" value="FALSE"/>
  </appSettings>
</configuration>