<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!-- DEV Database -->

    <add name="TrackingDatabase" connectionString="Server=pqrsdev1.powercoredomain.com\pqrsdev;Database=MingleAnalyticsWeb;Trusted_Connection=True;" />
    <add name="PQRSInfoDatabase" connectionString="Server=pqrsdev1.powercoredomain.com\pqrsdev;Database=LW_PQRS;Trusted_Connection=True;" />

    <!-- QA Database -->
    <!--
    <add name="TrackingDatabase" connectionString="Server=prsql1.pqrsprod.com\pqrsqa;Database=MingleAnalyticsWeb;Trusted_Connection=True;" />
    <add name="PQRSInfoDatabase" connectionString="Server=prsql1.pqrsprod.com\pqrsqa;Database=LW_PQRS;Trusted_Connection=True;" />
    -->
    <!-- Production Database -->
    <!--
    <add name="TrackingDatabase" connectionString="Server=prsql1.pqrsprod.com\pqrsprod;Database=MingleAnalyticsWeb;Trusted_Connection=True;" />
    <add name="PQRSInfoDatabase" connectionString="Server=prsql1.pqrsprod.com\pqrsprod;Database=LW_PQRS;Trusted_Connection=True;" />
    -->

  </connectionStrings>
  <appSettings>
    <!-- DEV Settings -->
    <!--
    <add key="EnvironmentName" value="DEV"/>
    <add key="SalesForceConsumerKey" value="3MVG9sLbBxQYwWqutY_b6s6KKKvqSCdeJMAxzo2.lpkQmWPOJQRc5fsfUqTlFdo7rw65Gdnm1bid8CrLVJb0U"/>
    <add key="SalesForceSecretKey" value="3384966436543454232"/>
    <add key="SalesForceUserName" value="scott.larsen@mingleanalytics.com.dev" />
    <add key="SalesForceApiToken" value="b2L6A4Y3UrOPQcxhnR77AZ5h" />
    <add key ="SalesForcePassword" value="P@ssw0rd123" />
    <add key="SalesForceAuthenticationUrl" value="https://test.salesforce.com/services/oauth2/token" />
    -->

    <!-- UAT/QA Settings -->

    <add key="EnvironmentName" value="QA"/>
    <add key="SalesForceConsumerKey" value="3MVG9sLbBxQYwWqt8iQqFkcLydnxvWyAq0.6BnxAteQpIavw_ZlWWJcnBiryDdvgqHWoK0XpbLha4ecTvyx6Q" />
    <add key="SalesForceSecretKey" value="914109569542440400" />
    <add key="SalesForceUserName" value="scott.larsen@mingleanalytics.com.UAT" />
    <add key="SalesForceApiToken" value="tmnrhLcLkQdlpm5kumIazRdG" />
    <add key="SalesForcePassword" value="P@ssw0rd123" />
    <add key="SalesForceAuthenticationUrl" value="https://test.salesforce.com/services/oauth2/token" />

	  <!-- Production Settings -->
    <!--
    <add key="EnvironmentName" value="PRODUCTION"/>
    <add key="SalesForceConsumerKey" value="3MVG9y6x0357HleeZ6MZlSINDM9odGO5q1XXN9l43hqTolp2roGzWf9XQ0S8haIg_9MS4yRKXtwDKcbHfMJmJ" />
    <add key="SalesForceSecretKey" value="1219680436667541657" />
    <add key="SalesForceUserName" value="scott.larsen@mingleanalytics.com" />
    <add key="SalesForceApiToken" value="RybsmryKfIUd0QDoX6KnKNqNB" />
    <add key="SalesForcePassword" value="P@ssw0rd123" />
    <add key="SalesForceAuthenticationUrl" value="https://login.salesforce.com/services/oauth2/token" />
    -->

    <!-- Environment Agnostic -->
    <add key="ClientApiRoute" value="/services/apexrest/Client/" />
    <add key="PracticeApiRoute" value="/services/apexrest/Practice/" />
    <add key="ProviderApiRoute" value="/services/apexrest/ProviderMethod/" />
    <add key="SuccessEmailAddressToNotify" value="derekh@mingleanalytics.com"/>
    <add key="ApiErrorEmailAddressToNotify" value="derekh@mingleanalytics.com"/>
    <add key="ApplicationErrorEmailAddressToNotify" value="derekh@mingleanalytics.com"/>
    <add key="SuccessMatchRegEx" value="Success:"/>
    <add key="SendAlertOnApiError" value="TRUE"/>
    <add key="SendAlertOnApiSuccess" value="TRUE"/>
    <add key="SendAlertOnApplicationError" value="TRUE"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="info@pqrssolutions.com">
        <network host="prweb1.pqrsprod.com" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>