<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="DatabaseEnvironmentName" value="DEV (PQRSDEV1)" />
  <add key="SalesForceEnvironmentName" value="UAT" />
  <add key="SalesForceConsumerKey" value="3MVG9Gmy2zmPB01oIaR4wPviNHwLsG96q99kHhD38wZAx4EZW3bN6Z7XA8bB_Ib1kFuOj6k7q4EmKv79aCUgC" />
  <add key="SalesForceSecretKey" value="1692733755227957214" />
  <add key="SalesForceUserName" value="salesforceapi@mingleanalytics.com.uat" />
  <add key="SalesForceApiToken" value="Rme13rTkkvGXOggZ8ZQWCIHa" />
  <add key="SalesForcePassword" value="nz?|ymPBsC9fU6R+2`nT1" />
  <add key="SalesForceAuthenticationUrl" value="https://test.salesforce.com/services/oauth2/token" />

  <!-- SalesForce API paths to use -->
  <add key="ClientApiRoute" value="/services/apexrest/Client/" />
  <add key="PracticeApiRoute" value="/services/apexrest/Practice/" />
  <add key="ProviderApiRoute" value="/services/apexrest/Provider/" />
  <add key="NonGProSubmissionApiRoute" value="/services/apexrest/ProviderParticipation/" />
  <add key="GProSubmissionApiRoute" value="/services/apexrest/GPROSubmission/" />
  <add key="ProviderMeasureApiRoute" value="/services/apexrest/ProviderSelMeasure/" />
  <add key="SalesForceSubmissionFormMethod" value="/services/apexrest/SubmissionFormMethod/" />
  <add key="SalesForceClientPaymentStatus" value="/services/apexrest/ClientPaid/" />
  <add key="StepStatusSyncRoute" value="/services/apexrest/SubmissionStepStatus/" />
  <add key="XMLFileGeneratedRoute" value="/services/apexrest/XMLFileGenerated/"/>
  <add key="SalesForceXmlTracking" value="/services/apexrest/XMLFileSubmittedService/"/>
  <add key="SalesForceXmlFileReCreate" value="/services/apexrest/XMLFileReRequested/" />
  <add key="SalesForceProviderAuditRoute" value="/services/apexrest/ProviderAudit/" />
  <add key="SalesForceClientClinicalAuditRoute" value="/services/apexrest/ClientClinicalAudit/"/>

  <!-- Email addresses to send notifications. Seperate multiple addresses by commas -->
  <!-- DEV/Testing values -->
  <add key="SuccessEmailAddressToNotify" value="luke.hanscom@mingleanalytics.com" />
  <add key="ApiErrorEmailAddressToNotify" value="luke.hanscom@mingleanalytics.com" />
  <add key="ApplicationErrorEmailAddressToNotify" value="luke.hanscom@mingleanalytics.com" />

  <!-- Conditions on when to send email alert -->
  <add key="SendAlertOnApiError" value="TRUE" />
  <add key="SendAlertOnApiSuccess" value="TRUE" />
  <add key="SendAlertOnApplicationError" value="TRUE" />

  <!-- WHich updates to process -->
  <add key="ProcessPQRSUpdates" value="FALSE" />
  <add key="ProcessConsentUpdates" value="FALSE" />
  <add key="ProcessClientPayments" value="FALSE" />
  <add key="ProcessXMLTrackingUpdates" value="TRUE"/>
  <add key="ProcessXMLFileReRequests" value="FALSE"/>

  <!-- Subsets of PQRS updates to process -->
  <add key="ProcessClient" value="FALSE" />
  <add key="ProcessPractice" value="FALSE" />
  <add key="ProcessProvider" value="FALSE" />
  <add key="ProcessSelectedMethod" value="FALSE" />
  <add key="ProcessStepStatus" value="FALSE" />
  <add key="ProcessXMLTracking" value="FALSE"/>
  <add key="ProcessProviderAudits" value="FALSE"/>
  <add key="ProcessClientClinicalAudits" value="FALSE"/>

  <add key="SuccessMatchRegEx" value="Success:" />
</appSettings>
