<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <add name="TrackingDatabase" connectionString="Server=pqrsdev1.powercoredomain.com\pqrsdev;Database=MingleAnalyticsWeb;Trusted_Connection=True;" />
    <add name="PQRSInfoDatabase" connectionString="Server=pqrsdev1.powercoredomain.com\pqrsdev;Database=LW_PQRS;Trusted_Connection=True;" />
    <add name="AnalyticsInfoDatabase" connectionString="Server=pqrsdev1.powercoredomain.com\pqrsdev;Database=Analytics;Trusted_Connection=True;" />
  </connectionStrings>
