<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <add name="TrackingDatabase" connectionString="Server=prsql1.pqrsprod.com\pqrsprod;Database=MingleAnalyticsWeb;Trusted_Connection=True;" />
    <add name="PQRSInfoDatabase" connectionString="Server=prsql1.pqrsprod.com\pqrsprod;Database=LW_PQRS;Trusted_Connection=True;" />
    <add name="AnalyticsInfoDatabase" connectionString="Server=prsql1.pqrsprod.com\pqrsprod;Database=Analytics;Trusted_Connection=True;" />
  </connectionStrings>