<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <add key="DatabaseEnvironmentName" value="QA (PQRSQA)" />
    <add key="SalesForceEnvironmentName" value="UAT" />
    <add key="SalesForceConsumerKey" value="3MVG9Gmy2zmPB01oIaR4wPviNHwLsG96q99kHhD38wZAx4EZW3bN6Z7XA8bB_Ib1kFuOj6k7q4EmKv79aCUgC" />
    <add key="SalesForceSecretKey" value="1692733755227957214" />
    <add key="SalesForceUserName" value="salesforceapi@mingleanalytics.com.uat" />
    <add key="SalesForceApiToken" value="Rme13rTkkvGXOggZ8ZQWCIHa" />
    <add key="SalesForcePassword" value="nz?|ymPBsC9fU6R+2`nT1" />
    <add key="SalesForceAuthenticationUrl" value="https://test.salesforce.com/services/oauth2/token" />

    <!-- SalesForce API paths to use -->
    <add key="ClientApiRoute" value="/services/apexrest/Client/" />
    <add key="PracticeApiRoute" value="/services/apexrest/Practice/" />
    <add key="ProviderApiRoute" value="/services/apexrest/Provider/" />
    <add key="NonGProSubmissionApiRoute" value="/services/apexrest/ProviderParticipation/" />
    <add key="GProSubmissionApiRoute" value="/services/apexrest/GPROSubmission/" />
    <add key="ProviderMeasureApiRoute" value="/services/apexrest/ProviderSelMeasure/" />
    <add key="SalesForceSubmissionFormMethod" value="/services/apexrest/SubmissionFormMethod/" />
    <add key="SalesForceClientPaymentStatus" value="/services/apexrest/ClientPaid/" />
    <add key="StepStatusSyncRoute" value="/services/apexrest/SubmissionStepStatus/" />
    <add key="XMLFileGeneratedRoute" value="/services/apexrest/XMLFileGenerated/"/>
    <add key="SalesForceXmlTracking" value="/services/apexrest/XMLFileSubmittedService/"/>
    <add key="SalesForceXmlFileReCreate" value="/services/apexrest/XMLFileReRequested/" />
    <add key="SalesForceProviderAuditRoute" value="/services/apexrest/ProviderAudit/" />
    <add key="SalesForceClientClinicalAuditRoute" value="/services/apexrest/ClientClinicalAudit/"/>

    <!-- Email addresses to send notifications. Seperate multiple addresses by commas -->
    <!-- DEV/Testing values -->
    <add key="SuccessEmailAddressToNotify" value="derek.hodgkins@mingleanalytics.com,luke.hanscom@mingleanalytics.com,bobbie.manson@mingleanalytics.com" />
    <add key="ApiErrorEmailAddressToNotify" value="derek.hodgkins@mingleanalytics.com,luke.hanscom@mingleanalytics.com,bobbie.manson@mingleanalytics.com" />
    <add key="ApplicationErrorEmailAddressToNotify" value="derek.hodgkins@mingleanalytics.com,luke.hanscom@mingleanalytics.com,bobbie.manson@mingleanalytics.com" />

    <!-- Conditions on when to send email alert -->
    <add key="SendAlertOnApiError" value="TRUE" />
    <add key="SendAlertOnApiSuccess" value="TRUE" />
    <add key="SendAlertOnApplicationError" value="TRUE" />

    <!-- WHich updates to process -->
    <add key="ProcessPQRSUpdates" value="TRUE" />
    <add key="ProcessConsentUpdates" value="TRUE" />
    <add key="ProcessClientPayments" value="TRUE" />
    <add key="ProcessXMLTrackingUpdates" value="TRUE"/>
    <add key="ProcessXMLFileReRequests" value="TRUE"/>

    <!-- Subsets of PQRS updates to process -->
    <add key="ProcessClient" value="TRUE" />
    <add key="ProcessPractice" value="TRUE" />
    <add key="ProcessProvider" value="TRUE" />
    <add key="ProcessSelectedMethod" value="TRUE" />
    <add key="ProcessStepStatus" value="TRUE" />
    <add key="ProcessXMLTracking" value="TRUE"/>
    <add key="ProcessProviderAudits" value="TRUE"/>
    <add key="ProcessClientClinicalAudits" value="TRUE"/>

    <add key="SuccessMatchRegEx" value="Success:" />
    <add key="ReprocessApplicationErrors" value="FALSE"/>
  </appSettings>